# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/

# Android build artifacts
Cimoc-debug.apk
android/local.properties
android/.gradle/
android/app/build/

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# TypeScript
*.tsbuildinfo
